//!     FONTS

//    ? https://fonts.google.com/specimen/Pacifico
//    * Pacifico
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
$font_pacifico: 'Pacifico', cursive;;

//  ? https://fonts.google.com/specimen/Patrick+Hand
//  * Patrick Hand
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
$font_patrick: 'Patrick Hand', cursive;


//!     COLORS
//*     main
$m1: #fdc921;
$m2: #fdd85d;
$m3: #fffdf7;
$m4: #99d6ea;
$m5: #6798c0;

//**    3 Escala de grises
$wgb1_1: #EDF2F4;
$wgb1_2: #8D99AE;
$wgb1_3: #2B2D42;

$wgb2_1: #FCFCFC;
$wgb2_2: #32373B;
$wgb2_3: #0A0A0A;

$wgb3_1: #92979B;
$wgb3_2: #4F5861;
$wgb3_3: #181921;

//**    4 Extenciones de colores
$red_1: #DA4167;
$red_2: #C00021;
$red_3: #800016;

$yellow_1: #FFC600;
$yellow_2: #FCD762;
$yellow_3: #A47E1B;

$green_1: #5DD39E;
$green_2: #BCE784;
$green_3: #348AA7;

$blue_1: #003F88;
$blue_2: #00509D;
$blue_3: #00296B;

$purple_1: #5C0099;
$purple_2: #C86BFA;
$purple_3: #3D0066;

$orange_1: #FF7F51;
$orange_2: #FF9B54;
$orange_3: #CE4257;

$cian_1: #086375;
$cian_2: #1DD3B0;
$cian_3: #3C1642;

$cream_1: #C6AC8F;
$cream_2: #EAE0D5;
$cream_3: #5E503F;

$brown_1: #83552D;
$brown_2: #B87D48;
$brown_3: #644536;

$brown_1_1: #794D42;
$brown_1_2: #A76B60;
$brown_1_3: #593930;
